::-webkit-scrollbar {
  width: 4.5px;
  height: 3px;
  border-radius: 3px;
}

::-webkit-scrollbar-track {
  border-radius: 3px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: red;
  border-radius: 3px;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  user-select: none;
  background-color: #000014;
}

.faixa {
  position: relative;
  width: 100%;
  height: 0;
  border-bottom: 1px solid #1a191c;
  }
.abc {
  display: flex;
  overflow-x: auto;
  margin-right: 22px;
  margin-left: 22px;
}

.abc3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.table {
  margin-top: 10px;
  border-radius: 8px;
  padding: 15px;
  margin-top: 15px;
  color: #fff;
  margin-bottom: 25px;
  height: 180px;
  width: 250px;
  max-height: 180px;
  max-width: 250px;
  margin-right: 10px;
  box-sizing: border-box;
  justify-content: center;
  table-layout: fixed;
  margin-left: 10px;
  background-color: #141721;
  align-items: center;
  transition: background 1.4s ease, color 1.4s ease, transform 0.7s ease, box-shadow 0.4s ease-in;
}

.faixa {
  position: relative;
  width: 100%;
  height: 0;
  border-bottom: 1.4px solid rgba(0, 0, 0, 0.3);
}

.table:hover {
  transform: scale(1.010);
  background-color: #1770ff;
}

.table:hover .pp {
  color: #141721;
}

.table th {
  margin-top: 0;
  margin-left: 0;
  text-align: center;
  font-size: 14px;
  color: #1770ff;
  transition: color 1.4s ease;
}

.table tr th td {
  margin-top: 0;
  margin-left: 0;
  text-align: left;
}

.ap {
  margin-top: 0;
  margin-left: 0;
  font-size:14px;
}

.imga {
  display: block;
  margin-top: 8px;
  margin: 0 auto;
  margin-bottom: 15px;
  background-color: #141721;
  border: 2px solid #1770ff;
  width: 50px;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 50%;
  transition: border 1.4s ease, width 0.3s ease;
}

.pp {
text-align: center;
margin-bottom: 2px;
color: #1770ff;
font-size: 23px;
font-weight: bold;
  transition: color 1.4s ease;
}

.abc2 {
  display: flex;
  flex-wrap: wrap;
  flex: 1 0 33%;
  margin: 10px;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.abc::-webkit-scrollbar {
  width: 3.7px;
  height: 5px;
}

.abc::-webkit-scrollbar-track {
  background: #000;
  border-radius: 30px;
}

.abc::-webkit-scrollbar-thumb {
  background: #eb0000;
  border-radius: 30px;
}

.table2 {
  margin-top: 20px;
  padding: 12px 18px;
  color: #fff;
  box-sizing: border-box;
  justify-content: center;
  margin-right: 22px;
  margin-left: 22px;
  table-layout: fixed;
  background-color: #0a0f1a;
  align-items: center;
  min-width: 320px;
  min-height: 230px;
  padding-bottom: 30px;
  display: inline-block;
  border-radius: 14px;
  border: solid transparent 2px;
  margin-bottom: 18px;
  transition: color 1.4s ease, border 0.65s ease, transform 0.8s ease, animation 0.4s ease;
}

.table3 {
  margin-top: 12px;
  color: #fff;
  box-sizing: border-box;
  justify-content: center;
  margin-right: 6px;
  margin-left: 6px;
  table-layout: fixed;
  background-color: #0a0f1a;
  filter: brightness(0.85);
  border-radius: 8px;
  align-items: center;
  min-width: 100%;
  min-height: 220px;
  padding-bottom: 30px;
  display: inline-block;
  border: solid transparent 2px;
  margin-bottom: 0;
  transition: color 1.4s ease, border 0.65s ease, transform 0.8s ease, animation 0.4s ease;
}

.table2:hover {
  border: solid red 2px;
}

.bots {
  color: #fff;
  align-items: center;
}

.bots h1 {
  margin-top: 110px;
  font-size: 28px;
  text-align: center;
  margin-bottom: 3px;
}

.bots p {
  margin-top: 2px;
  font-size: 19.6px;
  text-align: center;
}

.bots2 {
  color: #fff;
  justify-content: center; 
  align-items: center; 
  text-align: center;
}

.bots2 h1 {
  font-size: 36px;
  text-align: center;
}

.bots2 p {
  font-size: 20px;
  text-align: center;
}

.cmc {
  background-color: #fff;
  color: #000;
  font-size: 150";
  padding: 30px 40px;
  border: solid #000 2px;
  border-radius: 8px;
  margin-top: 15px;
  transition: background 0.6s ease;
}

.cmc:hover {
  background-color: #e0e0e0;
  cursor: pointer;
}

.buy button:hover {
  cursor: pointer;
}

.benef {
  color: #fff;
}

.benef h1 {
  font-size: 29.6px;
  margin-bottom: 3px;
  margin-left: 12px;
}

.benef p {
  margin-top: 0;
  font-size: 13px;
  margin-left: 17.4px;
}

.button-container {
  position: absolute;
  right: 0;
  margin-left: 10px;
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  vertical-align: middle;
}

.button-nav {
  background-color: #fff;
  padding: 10px 5px;
  border: none;
  border-radius: 8px;
  transition: background 0.6s ease;
}

.button-nav p {
  display: inline;
  font-size: 16px;
  color: #000;
  vertical-align: middle;
  transition: color 0.7s ease;
}

.button-nav img {
  display: inline;
  filter: invert(100%);
  margin: 0;
  vertical-align: middle;
  width: 22px;
  height: auto;
  transition: filter 0.55s ease;
}

.button-nav:hover {
  background-color: #e0e0e0;
  cursor: pointer;
}

.button-nav:hover img {
  filter: invert(70%);
}

.nav3 {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.header-content {
  color: #fff;
  text-align: center;
  position: relative;
}

.header-content img {
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
  width: 50px;
  height: 50px;
}

.tt {
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}

.header-content .tt h1 {
  font-size: 15px;
  margin-right: 4px;
}

.header-content2 {
  margin-top: 15px;
  background-color: #020203;
  align-items: center;
  color: #fff;
  padding: 0 5px;
  width: 100%;
  height: 150px
}

.header-content .tt p {
  font-size: 15px;
}

header {
  border-top: 5px solid #eb0000;
  padding: 18px;
  padding-inline-end: 20px;
  bottom: 0;
  background-color: #08090a;
  margin-top: 50px;
}

.button2 {
  transition: all 0.6s ease-in;
}

.button2:hover {
  filter: brightness(0.92);
  cursor: pointer;
}

.button2:hover img {
  margin-left: 14px;
  filter: invert(92%);
}

nav {
  color: #fff;
}

nav img {
  width: 31px;
  height: auto; 
  display: inline;
  margin-right: 6px;
  margin-left: 16px;
  vertical-align: middle;
}
.nav2 nav {
  display: flex;
  align-items: center;
}

.nav2 nav h1,
.nav2 nav h2 {
  margin-top: 0;
  margin-bottom: 0;
}

.nav2 nav .button-container {
  margin-left: auto; /* Isso empurra o container do botão para a direita */
}
.nav2 {
  padding-top: 16px;
  padding-left: 8px;
  margin-bottom: 20px;
}

nav h1 {
  margin-left: 15px;
  color: #fff;
  display: inline;
  vertical-align: middle;
  postion: absolute;
}

nav h2 {
  color: #eb0000;
  display: inline;
  vertical-align: middle;
  postion: absolute;
}

.tit {display: flex;justify-content: space-between;vertical-align: middle;}

.tit a {
  text-align: center;
  margin-left: 4px;
  margin-right: 4px;
  width: 0 auto;
  background-color: #000;
  border: solid #000 1.3px;
  padding: 6px 4px;
  font-size: 14px;
  filter: brightness(0.8);
  border-radius: 3px;
  transition: border 0.4s ease;
}

.tit a:hover {
  transform: scale(1.05);
}

.buy {
  display: flex;
  justify-content: center; 
  align-items: center; 
  text-align: center;
}

.buy button {
  border: none;
  margin: 0 auto;
  align-items: center;
  text-align: center;
}

.buy button:hover {
  filter: invert(100%);
  background-color: transparent;
  border: solid #000 1.5px;
  cursor: pointer;
}
  
.prec {display:flex;vertical-align: middle;}

.info {vertical-align: middle;display:flex;text-align: left;align-items:center;}
/*

   computer 

*/

@media screen and (min-width: 1024px) {
  
.tt {
  margin: 0;
  display: flex;
}
  .table {
  padding: 20px;
  height: 350px;
  width: 260px;
  max-height: 350px;
  max-width: 260px;
  margin-right: 12px;
  margin-left: 14px;
 }
  
.pp {
  font-size: 29.1px;
  margin: 0;
  padding: 0;
}
  
.ap {
  margin: 0;
  padding: 0;
  font-size: 14.5px;
}

  .bots2 {
    color: #fff;
    align-items: center;
    margin-top: 130px;
    margin-bottom: 330px;
  }

  .bots2 h1 {
    font-size: 36px;
    text-align: center;
  }

  .bots2 p {
    font-size: 24px;
    text-align: center;
  }
  
  .abc2 {
    flex: 1 0 70%;
  }

  .table2 {
    width: 460px;
    height: 440px;
    width: calc(33.333% - 20px);
    margin-right: 14px;
    margin-left: 14px;
    margin-bottom: 20px;
  }

  .table3 {
    margin: 0;
    min-width: 570px;
    min-height: 230px;
    margin-right: 8px;
    margin-bottom: 15px;
    margin-left: 8px;
    border-radius: 16px;
  }
  
  .flex-container2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }

  .flex-container2 p {
    font-size: 21px;
  }
  
  .flex-container2 h5 {
  font-size: 48px;
  }

  .flex-container2 img {
    width: 370px;
    height: auto;
    margin-left: 0;
    margin-right: 140px;
  }

  .text-container {
    flex: 1;
    margin-right: 0;
    margin-left: 70px;
  }

  .button2 {
    color: #fff;
    background-color: #eb0000;
    padding: 14px 20px;
    border: none;
    border-radius: 8px;
    font-size: 22px;
    width: 0 auto;
    margin-top: 13px;
    transition: all 0.6s ease;
  }
  
  .button2 img {
    vertical-align: middle;
    width: 22px;
    height: auto;
    margin: 0;
    padding: 0;
    margin-left: 7px;
    filter: invert(100%);
    transition: all 0.58s ease;
  }

  header h2 {
    font-size: 19px;
  }

  .bots h1 {
    font-size: 34.7px;
  }

  .bots p {
    margin-top: 0;
    font-size: 24px;
  }

  .benef h1 {
    font-size: 36px;
    margin-bottom: 4.3px;
    margin-left: 16.5px;
  }

  .benef p {
    font-size: 16.8px;
    margin-left: 21px;
  }
}

@media screen and (min-width: 1024px) {
  .button-nav {
    margin-right: 10px;
    padding: 15px 25px;
  }

  .button-nav p {
    font-size: 24px;
  }

  .button-nav img {
    width: 30px;
    background-color: none;
  }
  
  nav h1 {
    margin-left: 24px;
    font-size: 32px;
  }
  
  nav h2 {
    font-size: 32px;
  }

  nav img {
    width: 35px;
    margin-left: 23px;
  }

  .nav2 {
    margin-top: 12px;
    padding-left: 8px;
    margin-bottom: 110px;
  }

  .table2 th h1 {
    color: #fff;
    margin-top: 15px;
    margin-left: 5px;
    margin-bottom: 0;
    font-size: 23px;
    font-weight: normal;
  }
  
  .buy button {
    color: #000;
    margin-top: 30px;
    width: 100%;
    padding: 12px calc((10%)/2);
    align-content: center;
    background-color: #fff;
    border-radius: 10px;
    border: solid #000 1.5px;
    font-size: 16px;
    transition: filter 0.6s ease, background 0.52s ease;
  }

  .table2 th h2 {
    color: #eb0000;
    margin-top: 3px;
    font-size: 33px;
    margin-bottom: 0;
  }

  .table2 th p {
    color: #fff;
    margin: 0 auto;
    margin-top: 17px;
    margin-left: 2px;
    font-size: 19px;
    font-weight: normal;
  }

  .sepinfo {
    margin-top: 20px;
  }

  .table2 th img,
  .table2 th h3,
  .table2 th h4{
    vertical-align: middle;
    padding: 0;
    margin: 0;
    margin-top: 12px;
  }

  .table2 th h3 {
    color: #fff;
    margin-left: 0 auto;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 480;
  }

  .table2 th h4 {
    color: #fff;
    margin-left: 0 auto;
    margin-bottom: 0;
    font-size: 15.5px;
    font-weight: normal;
  }

  .table2 th h5 {
    color: #eb0000;
    font-size: 16.5px;
    margin: 0;
    margin-top: 0.3px;
    margin-left: 6px;
  }

  .sepb {
    margin-top: 45px;
    border: 14px solid #fff;
    border-radius: 9px;
    width: 75px;
    filter: brightness(3.4);
    margin: 0 auto;
    margin-bottom: 38px;
  }

  .table2 th img {
    width: 19.5px;
    bottom: 0;
    height: auto;
    margin-right: 10px;
  }

  .button-container {
      margin-right: 22px;
  }
}

/*

   android computer 

*/

@media screen and (min-width: 600px) and (max-width: 1024px) { 
.tt {
  margin: 0;
  display: flex;
}
  .table {
  padding: 20px;
  height: 300px;
  width: 280px;
  max-height: 300px;
  max-width: 280px;
  margin-right: 14px;
  margin-left: 14px;
}
  
.pp {
  font-size: 28.1px;
  margin: 0;
}
  
.ap {
  font-size: 15.5px;
  margin: 0;
}
  
  .bots2 {
    color: #fff;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 430px;
  }

  .bots2 h1 {
    font-size: 36px;
    text-align: center;
  }

  .bots2 p {
    font-size: 24px;
    text-align: center;
  }
  .abc {
    margin-bottom: 90px;
  }
  
  .table2 {
    min-width: 420px;
    margin-right: 8px;
    margin-left: 8px;
  }
  
  .abc2 {
    flex: 1 0 0%;
  }
  
  .table3 {
    min-width: 100%;
    min-height: 200px;
    margin-right: 8px;
    margin-left: 8px;
    border-radius: 16px;
    margin-bottom: 15px;
  }

  .flex-container2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }

  .flex-container2 p {
    font-size: 19.4px;
  }
  
  .flex-container2 h5 {
  font-size: 42px;
  }

  .flex-container2 img {
    width: 380px;
    height: auto;
    margin-left: 0;
    margin-right: 100px;
  }

  .text-container {
    flex: 1;
    margin-right: 0;
    margin-left: 40px;
  }

  .button2 {
    color: #fff;
    background-color: #eb0000;
    padding: 17px 20px;
    border: none;
    border-radius: 8px;
    font-size: 22px;
    width: 0 auto;
    margin-top: 10px;
    transition: all 0.6s ease;
  }

  header h2 {
    font-size: 19px;
  }

  .bots h1 {
    font-size: 34.7px;
  }

  .bots p {
    margin-top: 0;
    font-size: 24px;
  }

  .benef h1 {
    font-size: 36px;
    margin-bottom: 4.3px;
    margin-left: 16.5px;
  }

  .benef p {
    font-size: 16.8px;
    margin-left: 21px;
  }
  
  .button2 img {
    vertical-align: middle;
    width: 22px;
    height: auto;
    margin: 0;
    padding: 0;
    margin-left: 9px;
    filter: invert(100%);
    transition: all 0.58s ease;
  }
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
  .button-nav {
    position: relative;
    width: 100%;
    left: calc((10%)/2);
    padding: 15px 30px;
  }

  .button-nav p {
    font-size: 22px;
  }

  .button-nav img {
    width: 27px;
    background-color: none;
  }
  
  nav h1 {
    margin-left: 26px;
    font-size: 33px;
  }
  
  nav h2 {
    font-size: 33px;
  }

  nav img {
    width: 35px;
    margin-left: 23px;
  }

  .nav2 {
    margin-top: 25px;
    padding-left: 8px;
    margin-bottom: 65px;
  }

  .table2 th h1 {
    color: #fff;
    margin-top: 30px;
    margin-left: 5px;
    margin-bottom: 0;
    font-size: 23px;
    font-weight: normal;
  }
  
  .buy button {
    color: #000;
    margin-top: 30px;
    width: 100%;
    padding: 14px calc((20%)/2);
    align-content: center;
    background-color: #fff;
    border-radius: 10px;
    border: solid #000 1.5px;
    font-size: 18px;
    transition: filter 0.6s ease, background 0.52s ease;
  }

  .table2 th h2 {
    color: #eb0000;
    margin-top: 3px;
    font-size: 37px;
    margin-bottom: 0;
  }

  .table2 th p {
    color: #fff;
    margin: 0 auto;
    margin-top: 22px;
    margin-left: 2px;
    font-size: 19px;
    font-weight: normal;
  }

  .sepinfo {
    margin-top: 30px;
  }

  .table2 th img,
  .table2 th h3,
  .table2 th h4 {
    vertical-align: middle;
    padding: 0;
    margin: 0;
    margin-top: 12px;
  }

  .table2 th h3 {
    color: #fff;
    margin-left: 0 auto;
    margin-bottom: 0;
    font-size: 17px;
    font-weight: 480;
  }

  .table2 th h4 {
    color: #fff;
    margin-left: 0 auto;
    margin-bottom: 0;
    font-size: 17px;
    font-weight: normal;
  }

  .table2 th h5 {
    color: #eb0000;
    font-size: 16.5px;
    margin: 0;
    margin-top: 0.3px;
    margin-left: 6px;
  }

  .sepb {
    margin-top: 30px;
    border: 13px solid #fff;
    border-radius: 7px;
    width: 60px;
    filter: brightness(3.4);
    margin: 0 auto;
    margin-bottom: 36px;
  }

  .table2 th img {
    width: 18.5px;
    bottom: 0;
    height: auto;
    margin-right: 10px;
  }

  .button-container {
      margin-right: 40px;
  }
}

/*

   android

*/

@media screen and (max-width: 600px) {
  .bots2 {
    color: #fff;
    align-items: center;
    margin-top: 130px;
    margin-bottom: 290px;
  }

  .bots2 h1 {
    font-size: 36px;
    text-align: center;
  }

  .bots2 p {
    font-size: 16px;
    text-align: center;
    margin-right: 8px;
    margin-left: 8px;
  }
  
  .abc {
    margin-bottom: 50px;
  }
  
  .table2 {
    margin-right: 8px;
    margin-left: 8px;
  }

  .flex-container2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .flex-container2 h5 {
    font-size: 27px;
    margin-top: 40px;
  }

  .flex-container2 img {
    margin-top: 34px;
    width: 330px;
    height: auto;
    position: relative;
  }

  .flex-container2 p {
    font-size: 16.6px;
    padding: 0 10px;
  }

  .button2 {
    color: #fff;
    background-color: #eb0000;
    padding: 14px 38px;
    border: none;
    width: 80%;
    border-radius: 8px;
    font-size: 20px;
    margin-top: 18px;
    transition: all 0.6s ease;
  }
  
  .button2 img {
    vertical-align: middle;
    width: 20px;
    height: auto;
    margin: 0;
    padding: 0;
    margin-left: 5px;
    filter: invert(100%);
    transition: all 0.58s ease;
  }
}

@media screen and (max-width: 600px) {
  nav img {
    display: inline;
    width: 29px;
    margin-right: 6px;
    margin-left: 6px;
    vertical-align: middle;
}

  .nav2 {
    padding-top: 16px;
    padding-left: 4px;
  }
  
  .button-nav {
    padding: 10px 5px;
  }

  nav img {
    width: 26px; 
  }
  
  nav h2 {
    font-size: 19px;
  }

  nav h1 {
    font-size: 19px;
  }

  .button-nav p {
    font-size: 16px;
  }

  .button-nav img {
    width: 23px;
  }

  .table2 th h1 {
    color: #fff;
    margin-top: 30px;
    margin-left: 5px;
    margin-bottom: 0;
    font-size: 20px;
    font-weight: normal;
  }
  
  .buy button {
    color: #000;
    margin-top: 30px;
    width: 100%;
    padding: 10px calc((20%)/2);
    align-content: center;
    background-color: #fff;
    border-radius: 10px;
    border: solid #000 1.5px;
    font-size: 12px;
    transition: filter 0.6s ease, background 0.52s ease;
  }

  .table2 th h2 {
    color: #eb0000;
    margin-top: 3px;
    font-size: 31px;
    margin-bottom: 0;
  }

  .table2 th p {
    color: #fff;
    margin: 0 auto;
    margin-top: 15px;
    margin-left: 2px;
    font-size: 17px;
    font-weight: normal;
  }

  .sepinfo {
    margin-top: 30px;
  }

  .table2 th img,
  .table2 th h3,
  .table2 th h4 {
    vertical-align: middle;
    padding: 0;
    margin: 0;
    margin-top: 12px;
  }

  .table2 th h3 {
    color: #fff;
    margin-left: 0 auto;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 480;
  }

  .table2 th h5 {
    color: #eb0000;
    font-size: 13px;
    margin: 0;
    margin-top: 0.3px;
    margin-left: 6px;
  }

  .table2 th h4 {
    color: #fff;
    margin-left: 0 auto;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
  }

  .sepb {
    margin-top: 30px;
    border: 10px solid #fff;
    border-radius: 7px;
    width: 50px;
    filter: brightness(3.4);
    margin: 0 auto;
    margin-bottom: 30px;
  }
  
  .table2 th img {
    width: 15.5px;
    bottom: 0;
    height: auto;
    margin-right: 10px;
  }
.nav2 { margin-top: 8px; }
.nav2 nav .button-container{ margin-right: 8px; }
}
